<html>

<h2> Su resultado es: </h2>

<%=params[:opcion1]%> = <%=params[:resultado1]%>
</br>
<%=params[:opcion2]%> = <%=params[:resultado2]%>


<table>
  <% for i in session[:memotest].get_fichas %>
<tr>
    <%= i.estado %>
  <%end%>
</table>



